accelerate==0.34.2
appdirs==1.4.4
atomicwrites==1.4.0
bitsandbytes==0.44.1
cuda-python==12.6.0
datasets==3.0.1
docstring_parser==0.16
huggingface-hub==0.25.1
jsonpointer==2.1
mkl-service==2.4.0
multiprocess==0.70.16
peft==0.13.0
protobuf==3.20.3
pyarrow==17.0.0
pyasn1-modules==0.2.8
pycurl==7.45.2
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
safetensors==0.4.5
setuptools==69.5.1
shtab==1.7.1
tokenizers==0.20.0
torch==2.4.1
transformers==4.45.1
trl==0.11.1
tyro==0.8.11
wheel==0.43.0
xxhash==3.5.0